 <div class="vernav2 iconmenu">
    	<ul>
            {% if request.session.login_user.code == 'admin' %}
                <li><a href="/settings/" class="widgets">系统配置</a></li>
                <li><a href="#role_menu" class="support">系统管理</a>
                    <span class="arrow"></span>
                    <ul id="role_menu">
                        <li><a href="/role/">角色管理</a></li>
                        <li><a href="/list_sysuser/">系统用户</a></li>
                    </ul>
                </li>
                <li><a href="/message/" class="drafts">广告管理</a></li>
                <li><a href="/music/" class="drafts">音乐审核</a></li>
                 <li><a href="/article/" class="drafts">文章审核</a></li>
                <li><a href="/message_audit/" class="inbox">广告审核</a></li>
            {% endif %}


        </ul>
        <a class="togglemenu"></a>
        <br /><br />
    </div><!--leftmenu-->