<div class="topheader">
        <div class="left">
            <h1 class="logo">YOUTH<span>后台管理系统</span></h1>
            <span class="slogan">管理系统</span>


            <br clear="all" />

        </div>

        <div class="right">
            <div class="userinfo">
            	<img id="head_small" src="{% if request.session.login_user.head %}/m/{{ request.session.login_user.head }}{% else %}/s/images/thumbs/avatar.png{% endif %}" alt="" />
                <span>{{ request.session.login_user.name }}</span>
            </div>

            <div class="userinfodrop">
            	<div class="avatar">
                	<a href="">
                        <img id="head_big" src="{% if request.session.login_user.head %}/m/{{ request.session.login_user.head }}{% else %}/s/images/thumbs/avatarbig.png{% endif %}" alt="" />
                    </a>
                    <div class="changetheme">
                    	切换主题: <br />
                    	<a class="default"></a>
                        <a class="blueline"></a>
                        <a class="greenline"></a>
                        <a class="contrast"></a>
                        <a class="custombg"></a>
                    </div>
                </div><!--avatar-->
                <div class="userdata">
                	<h4>{{ request.session.login_user.name }}</h4>
                    <h6></h6>
                    <span class="email">{{ request.session.login_user.mail }}</span>
                    <ul>
                        <li><a href="/help/">帮助</a></li>
                        <li><a href="/logout/">退出</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


 <div class="header">
    	<ul class="headermenu">
        	<li class="current"><a href="/"><span class="icon icon-flatscreen"></span>首页</a></li>
        </ul>

    </div>