{% extends 'base/base.html' %}

{% block title %}
    系统管理
{% endblock %}

{% block css %}
    <script type="text/javascript" src="/s/js/custom/forms.js"></script>
{% endblock %}

{% block content %}

    <div class="centercontent tables">

        <div class="pageheader notab">
                <p align="center">
                    <label >推荐好友扩展</label>
                    本网站以服务于国内读书相关用户为主要对象，<br>
                网站所有刊登内容，以及所提供的信息资料，均为用户发布与转载,<br>
                如有侵犯版权内容请联系，核实后立即删除.
        </div>



    </div>

{% endblock %}
