{% extends 'base/base.html' %}

{% block title %}
    系统管理
{% endblock %}

{% block css %}
    <script type="text/javascript" src="/s/js/custom/forms.js"></script>
{% endblock %}

{% block content %}

    <div class="centercontent tables">

        <div class="pageheader notab">
{#            <h4>本网站以服务于国内读书相关用户为主要对象，<br>#}
{#                网站所有刊登内容，以及所提供的信息资料，均为用户发布与转载,<br>#}
{#                如有侵犯版权内容请联系，核实后立即删除.</h4>#}
{#            <h1 class="pagetitle">当前位置：系统管理</h1>#}
{#            <span class="pagedesc">用于管理后台</span>#}
{##}
{#        </div><!--pageheader-->#}
{##}
{#        <div id="basicform " style="margin: 10px" class="messagebox">#}
{#            <div class="contenttitle2">#}
{#                <h3>配置空间</h3>#}
{#            </div><!--contenttitle-->#}
{##}
{#            <form class="stdform stdform2" method="post">#}
{##}
{#                <p>#}
{#                    <label>用户默认空间</label>#}
{#                    <span class="field">#}
{#                        {% csrf_token %}#}
{#                        <input type="text" name="block_default_size" class="longinput"#}
{#                               value="{{ block_default_size }}"/>#}
{#                         <span style="margin-left: 10px"> 单位： M</span>#}
{#                    </span>#}
{#                </p>#}
                <p align="center">
                    <label >推荐好友扩展</label>
                    本网站以服务于国内读书相关用户为主要对象，<br>
                网站所有刊登内容，以及所提供的信息资料，均为用户发布与转载,<br>
                如有侵犯版权内容请联系，核实后立即删除.
{#                    <span class="field">#}
{##}
{#                        <input type="text" name="friend_block_size" class="longinput"#}
{#                               value="{{ friend_block_size }}"/>#}
{#                        <span style="margin-left: 10px"> 单位： M</span>#}
{#                    </span>#}
                </p>
{#                <p class="stdformbutton">#}
{#                    <button class="submit radius2">确认修改</button>#}
{#                </p>#}
{##}
{#            </form>#}
{##}
        </div>



    </div>

{% endblock %}
