{% extends 'base/base.html' %}

{% block title %}
    信息
{% endblock %}

{% block css %}
  <style>
    #msg_info{
        font-size: 1.2em;
    }
       #msg_info ul{
           list-style: none;
           border: 1px solid lightgray;
           padding: 5px;
           border-radius: 5px;
       }

       #msg_info li{
           padding: 10px;
           margin: 5px;
           height: 320px;
           background-color: white;
       }

       #msg_info li:hover{
           background-color: lightcyan;
           border-radius: 5px;
       }

      #msg_info ul::after{
          content: "";
          display: block;
          overflow: auto;
          clear: both;
          height: 0;
          visibility: hidden;
      }
    .bottom {
        position: absolute;
        bottom: 20px;
    }
    .box{
        border: 1px solid lightblue;
        width: 100%;
        height: 240px;
        overflow: scroll;
        padding: 5px;
    }

  dt,dd{
      padding: 5px;
      font-size: 15px;
  }
  </style>
{% endblock %}

{% block content %}

    <div class="centercontent tables">

        <div class="pageheader notab">
            <h1 class="pagetitle">帮助页面</h1>
            <span class="pagedesc">诚心为您提供帮助，诚心期待您的建议</span>
        </div>

        <div style="margin: 10px" id="msg_info">
            <div class="contenttitle2">
                <h3>为了更好的为您服务，将进入人工服务！</h3>
            </div><!--contenttitle-->
            <br>
                <br> 免费热线：17794252026 </br>



            </ul>
        </div>
    </div>
{% endblock %}



